/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Captures/

# IDE-generated
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash reports / misc
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.unitypackage
/[Aa]ssets/[Ss]treamingAssets/aa/*
